@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

a, p, h1 {
	color: #FFF;
	font-family: 'Quicksand', Futura, Helvetica, Helvetica Neue, Arial;
	font-size: 16pt;
	text-decoration: none;
}

a:hover {
	color: #81DAF5;
}
/*Navigation Menu*/

nav {
	overflow: hidden;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

#logo{
	float: left;
	padding-left: 30px;
	padding-top: 18px;
}

#nav{
	float: right;
	padding-right: 30px;
	padding-top: 18px;
}

#nav a{
	padding-right: 30px;
}

/*Container for sidebar and content*/
.container {
	margin: 100px auto 0 auto;
	position: fixed;
	top: 60px;
}

/*Sidebar navigation*/
aside {
	width: 180px;
	height: 100%;
	margin: auto 0 auto auto;
	background-color: #090909;
	float: left;
	position: fixed;
	left: 0;
	top: 60px;

}

aside li{
	width: 100%;
	height: 60px;
	padding-top: 10px;
}

aside ul{
	padding-left: 30px;
}

main {
	float: left;
	position: fixed;
	left: 180px;
	right: 0px;
	top: 60px;
	bottom: 0px;
}

.profile-pic {
}
#profilepic {
	width: 20%;
	float: right;
	padding-right: 180px;
	padding-top: 170px;

}

.content-text {
	text-align: left;
	width: 500px;
	padding-left: 200px;
	line-height: 1.5;

}

.main-text {
}

#greeting {
	font-size: 48pt;
	margin: 32px 0 32px 0;
}

.bg-img {
	z-index: -1;
	width: 100%;
	height: 100%;
	float: left;
	position: fixed;
	top: 60px;
	background-image: url("../images/content-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
	background: rgb(0, 0, 0, 0.7);
}


footer {
	text-align: center;
	overflow: hidden;
	background-color: #000;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}


footer ul, li {
	float: left;
	padding-left: 30px;
}

footer a{
	padding-right: 30px;
}
