@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

a, p, h1, label {
	color: #FFF;
	font-family: 'Quicksand', Futura, Helvetica, Helvetica Neue, Arial;
	font-size: 16pt;
	text-decoration: none;
}

a:hover {
	color: #81DAF5;
}
/*Navigation Menu*/

nav {
	display:flex;
	justify-content:space-between;
	overflow: hidden;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

#logo{
	padding-left: 30px;
	padding-top: 18px;
}

#nav{
	display:flex;
	width: 300px;
	justify-content:space-evenly;
	padding-right: 30px;
	padding-top: 18px;
}

/*Container for sidebar and content*/
.container {
	margin: 100px auto 0 auto;
	position: fixed;
	top: 60px;
}

/*Sidebar navigation*/
aside {
	width: 180px;
	height: 100%;
	margin: auto 0 auto auto;
	background-color: #090909;
	position: fixed;
	left: 0;
	top: 60px;

}

aside ul{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

aside li{
	padding-top: 25px;
}

main {
	display: flex;
	flex-flow: column wrap;
	justify-content:center;

	position: fixed;
	left: 180px;
	right: 0px;
	top: 60px;
	bottom: 0px;
	align-content:start;
}

.profile-pic {
	order: 2;
}

#profilepic {
	width: 20%;
}

.content-text {
	text-align: left;
	width: 500px;
	padding-left: 200px;
	line-height: 1.5;

}

.main-text {
}

#greeting {
	font-size: 48pt;
	margin: 32px 0 32px 0;
}

.bg-img {
	z-index: -10;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
	background-image: url("../images/content-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 60px;
	background: rgb(0, 0, 0, 0.7);
}


footer {
	text-align: center;
	overflow: hidden;
	background-color: #000;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}


footer ul{
	display:flex;
	flex-flow:;
	justify-content:space-evenly;
	width: 10%;
	padding-left: 30px;
}

footer a{
	padding-right: 30px;
}
